extends layout


block content
  h1= title
  p Welcome to #{title}

  | Plain text can include <strong>html</strong>
  p
  | It must always be on its own lineddd
  ul
    li Text
  input(type:'text').class-name#ddda 

  div(class='graph')
  script(src='d3')
  script(src='d3-dtree')
  script(src='/javascripts/dtree.js')

  p Plain